/*///////////////////////////////
// Home Page Styling
///////////////////////////////*/

#home-page {
    margin-top: 70px;
    margin-bottom: 100px;
}

#car-photo {
    position: relative;
    inset: 0;

    width: min(80vw, 900px);
    aspect-ratio: 154 / 102;

    background-image: url(../images/car-photo.png);
    background-size: cover;
    background-position: center;

    margin: 40px auto 0;
}

#fuel-price-box {
    width: 77px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--bg-panel);
    box-shadow: 0 0px 3px 0 var(--shadow);

    position: relative;
    top: 55px;
    left: 20%;
    transform: translate(-50%, -50%);
}

#fuel-icon {
    width: 25px;
    height: 25px;
    border-radius: 15px;

    background-image: url(../images/E10-fuel-label.png);
    background-size: cover;
    background-position: center;

    position: fixed;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

#fuel-price {
    width: 40px;
    height: 25px;

    display: flex;
    align-items: center;
    font-size: 15px;

    color: var(--text-main);

    position: fixed;
    top: 46%;
    left: 66%;
    transform: translate(-50%, -50%);
}


.main-content-panel {
    width: min(80vw, 900px);
    padding: 5px 5px 5px;

    background: var(--bg-panel);
    box-shadow: 0 4px 15px 0 var(--shadow);
    border-radius: 20px;

    font-weight: bold;
    color: var(--text-main);
    margin: 30px auto 0;
}

.panel-header {
    padding: 10px;
}

#fuel-estimation-container-layout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--internal-container);
    box-shadow: 0 0px 4px 0 var(--shadow);
    border-radius: 20px;
    gap: 10px;
    margin-bottom: 9px;
    padding: 10px 12px;
}

#fuel-estimation-container {
    width: 77%;   
    height: 18px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 var(--shadow);
    background-color: var(--text-main);
    overflow: hidden;
    position: relative;
}

#fuel-estimation-value {
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--green-accent);
    transition: width 0.5s ease;
}
/* med fuel warning */
#fuel-estimation-value.med-fuel {
    background: var(--orange-accent);
}
/* low fuel warning */
#fuel-estimation-value.low-fuel {
    background: var(--red-accent);
}

#refuel-btn {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: none;

    background: var(--internal-container);
    box-shadow: 0 1px 10px 1px var(--shadow);
    color: var(--text-main);

    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#refuel-panel {
    width: 100%;
    height: 33px;
    margin-top: 8px;

    display: flex;
    gap: 8px;
}

#refuel-panel-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-main);
}

#refuel-panel input {
    width: 100%;
    flex: 1;
    padding: 6px 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 1px 6px var(--shadow);
}

#refuel-panel button {
    padding: 6px 12px;
    border-radius: 10px;
    border: none;
    background: var(--internal-container);
    box-shadow: 0 1px 6px var(--shadow);
    color: var(--text-main);
    font-weight: 600;
}

.invisible {
    display: none !important;
} 