/*///////////////////////////////
// Statistics page Styling
///////////////////////////////*/

#statistics-page {
    height: 80vh;

    margin-top: 75px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 100px;

    overflow-y: auto;
}

#stats-page-content {
    margin-top: 20px;
}