/*///////////////////////////////
// Recent Trips Page Styling
///////////////////////////////*/

#recent-trips-page {
    height: 80vh;

    margin-top: 75px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 100px;

    overflow-y: auto;
}

#recent-trips-header {
    margin-top: 10px;

    font-size: 30px;
    font-weight: 500;
    color: var(--text-main);

    display: flex;
    justify-content: center;
}

#recent-trips-page-content {
    margin-top: 20px;
}