/*///////////////////////////////
// Recent Trips Page Styling
///////////////////////////////*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#recent-trips-page {
    height: calc(100vh - 165px - 100px);
    margin-top: 165px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 100px;
    overflow-y: auto;
}

#recent-trips-header {
    margin-top: 10px;

    font-size: 30px;
    font-weight: 500;
    color: var(--text-main);

    display: flex;
    justify-content: center;
}

#recent-trips-page-content {
    margin-top: 20px;
}